{{> book-info book }}

    <form class="review-form">
        <div>
            <textarea name="review-body"></textarea>
        </div>

        <div>
            <button type="submit">add review</button>
        </div>
    </form>


{{> review book.review}}

    <script src="/javascript/reviews.js"></script>
